<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    {% if message != "" %}
    <p>
    <font style="color:red;">{{ message }}</font>
    {% endif %}
    <p>
    <form action="{{ URL }}" method="post">
    <table>
    <tr><td><strong>User Name</strong>:</td>
        <td><input type="text" name="username" id="username" size="30"/></td>
    </tr>
    <tr><td><strong>Password</strong>:</td>
	<td><input type="password" name="password" id="password" size="30"/></td>
    </tr>
    <tr><td><input type="submit" value="Submit"/></td></tr>
    </table>
    </form>
</body>
</html>
