<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tweets</title>
</head>
<body>
    <p>
    {{ text }}
    <form action="{{ URL+"overview" }}" method="post">
    <strong>Bestand</strong>:
    <select name="fileName" onchange="this.form.submit()">
        {% for f in fileNames %}
            <option value="{{ f }}" 
            {% if f == fileName %} 
            selected 
            {% endif %}
            >{{ f }}</option>
        {% endfor %}
    </select>
    <strong>Gebruiker</strong>: {{ username }}
    (<a href="{{ URL }}?logout">logout</a>)
    (terug naar <a href="{{ URL }}">annoteren</a>)
    </form>
    <p>
    <table>
    <tr><th style="text-align:left">Annotator</th><th style="text-align:center">Totaal</th><th style="text-align:center">Correct</th>
    {% for label in labels %}
        <th style="text-align:center">{{ labels[label] }}</th>
    {% endfor %}
    </tr>
    {% for key in scores %}
        <tr><td style="text-align:left">{{ key }}</td>
            <td style="text-align:center">{{ scores[key]["total"][""]}}</td>
            {% if "" in scores[key]["accuracy"] %}
                <td style="text-align:center">{{ scores[key]["accuracy"][""] }}%</td>
            {% else %}
                <td style="text-align:center">-</td>
            {% endif %}
            {% for label in labels %}
                {% if labels[label] in scores[key]["accuracy"] %}
                    <td style="text-align:center">{{ scores[key]["accuracy"][labels[label]] }}%</td>
                {% else %}
                    <td style="text-align:center">-</td>
                {% endif %}
            {% endfor %}
            <td style="text-align:left">
                <a href="{{ URL }}overview?fileName={{fileName}}&mainUser={{ key }}">Compare with {{ key }}</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if suggestions %}
    <p>
    Suggesties voor alternatieve labels in de eerste honderd tweets:
    <ul>
    {% for s in suggestions %}
        <li><font style="color:green">{{ s[0] }}</font> (nu: <font style="color:red">{{ s[1] }}</font>) [{{ s[3] }}.]
        {% for t in range(0,s[2]["text"]|length) %}
            {% if s[2]["type"][t] == "text" %}
                {{ s[2]["text"][t] }}
            {% else %}
                <font color="#CCCCCC">{{ s[2]["text"][t] }}</font>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>
    {% endif %}
{% if confusionMatrix|length > 0 %}
    <p>
    Confusionmatrix: rijen geven de gouden standaard aan en kolommen uw labels
    <table>
    <tr><td></td>
        {% for label in labels %}
            <td>{{ labels[label] }}</td>
        {% endfor %}
        {% for i in range(0,confusionMatrix|length) %}
    <tr><td>{{ labels["" ~ i] }}</td>
            {% for val in confusionMatrix[i] %}
                <td align="center">{{ val }}</td>
            {% endfor %}
    </tr>
        {% endfor %}
    </table>
{% endif %}
<p>
Terug naar <a href="{{ URL }}">annoteren</a>
</body>
</html>
